@each $color,
$value in $theme-colors {
    .btn-inline-#{$color} {
        color: $value;
        padding: 0rem;
        border-style: none;

        &:disabled {
            color: lighten($value, $btn-hover-bg-shade-amount);
            border-style: none;
        }

        &:hover {
            color: darken($value, $btn-hover-bg-shade-amount);
        }
    }
}