@mixin leftSlide($width) {

    .slideLeft-enter-active,
    .slideLeft-leave-active {
        transition: left .6s ease-in-out;
    }

    .slideLeft-enter-from,
    .slideLeft-leave-to {
        left: $width * -1;
    }

    .slideLeft-leave-from,
    .slideLeft-enter-to {
        left: 0%;
    }
}