.modal-header {
    .btn-close {
        $btn-size: .55rem;

        width: $btn-size;
        height: $btn-size;
        background: none;
        background-size: $btn-size $btn-size;
        background-position: center;
        background-color: $red-400;
        border-radius: 100%;
        padding: .3rem;
        color: $white;
        opacity: .75;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity, box-shadow .2s;

        &:hover {
            opacity: 1;
            box-shadow: #e35d6a 0px 0px 5px;
        }

        .material-icons {
            font-size: 13px !important;
        }
    }
}